# Copyright 2025 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51
#
# Author: Diyou Shen <dishen@iis.ee.ethz.ch>

variables:
  GIT_SUBMODULE_STRATEGY: none
  ROOT_DIR: '$CI_PROJECT_DIR'
  APPS: "tests"
  PATH: '/home/gitlabci/.cargo/bin:/usr/local/bin:/usr/bin:/usr/sbin:/sbin:/usr/local/condor/bin:/usr/sepp/bin:$CI_PROJECT_DIR/install/verilator/bin:/home/gitlabci/.local/bin'
  OBJCACHE: ''
  CC: 'gcc-11.2.0'
  CXX: 'g++-11.2.0'
  CMAKE: 'cmake-3.28.3'
  python: 'python3'
  python3: 'python3'

stages:
  - build
  - sim-vsim

cache:
  paths:
    - install/
  key: "$CI_COMMIT_REF_SLUG-toolchain-v1" # Recommended key structure
  policy: pull-push

.base:
  artifacts:
    when: always
    expire_in: 1 day

build-tc:
  extends: .base
  stage: build
  timeout: 3h
  script:
    # Check if the cache was restored (i.e., if 'install/bin' exists)
    - if [ ! -d "install/llvm" ]; then
    -   echo "Toolchain not found in cache. Building dependencies..."
    -   make bender
    -   make toolchain
    -   echo "Toolchain built. Will be cached."
    - else
    -   echo "Toolchain found in cache. Skipping build."
    - fi

build-vsim:
  extends: .base
  needs: [ build-tc ]
  stage: build
  script:
    - make init
    - make dram-build CMAKE=cmake-3.28.3
    - make generate config=cachepool_fpu_512
    - make vsim config=cachepool_fpu_512
  artifacts:
    paths: [ "software/build", "sim/bin" ]

run_dotp:
  extends: .base
  needs: [ build-vsim ]
  stage: sim-vsim
  script:
    - ./sim/bin/cachepool_cluster.vsim ./software/build/CachePoolTests/test-cachepool-fdotp-32b_M1024
  artifacts:
    paths: [ "software/build", "sim/bin" ]
